node_modules/
*.zip
*.gz
*.tar
.yarn-integrity
.env
build/*
./config.js

#default node structure
node_modules/*
build/*
lib/*

#hidden folder
.*
.yarn-integrity
.env
.DS_Store

#node folder
package-lock.json
yarn.lock
